<?xml version="1.0" encoding="UTF-8" ?>

<table>
    <table name="{{ table }}" php_name="{{ php_name }}" category="" ></table>
{% for items in columns %}
    <columns name="{{ items.Field }}" ja_name="{{ items.Comment }}" type="{{ items.Type }}" size="{{ items.Size }}" primary_key="{% if items.Key == 'PRI' %}1{% endif %}" notnull="{% if items.Null == 'NO' %}1{% endif %}"></columns>
{% endfor %}
</table>